<html>
    <head>
      <title>Hello {{ request.session.id }} You are login!!</title>
    </head>
    <body>
      <a href="/users/logout">Logout</a>
      <h2>Hello {{request.session.name}}</a></h2>
      {% if wish_list %}
      <h2>Your wish list</h2>
      <table>
          <tr><td>Item</td>
                <td>Added By</td>
                <td>Date Added</td>
                <td>Action</td>
            </tr>
      {% for item in wish_list %}
        <tr>
            <td><a href="/wish_items/{{ item.id }}">{{ item.item_name }}</a></td>
            <td>{{ item.created_by.name }}</td>
            <td>{{ item.created_at }}</td>
            {% if item.created_by.id == request.session.id %}
                <td><form action='/wish_items/del_item' method='POST'>
                    {% csrf_token %}
                    <input type="hidden" name="iid" value="{{ item.id }}"></input>
                    <input type="submit" value="Delete"></input>
                </form>
            {% else %}
                <td><form action='/wish_items/del_wish' method='POST'>
                    {% csrf_token %}
                    <input type="hidden" name="iid" value="{{ item.id }}"></input>
                    <input type="submit" value="Remove from my wishlist"></input>
                </form>
            {% endif %}
        </tr>
    {% endfor %}
</table>
    <hr>
        {% else %}
        <h2>You do not have a wish list</h2>
        {% endif %}

    <h2>Other User's wish list:</h2>
    <table>
            <tr><td>Item</td>
                  <td>Added By</td>
                  <td>Date Added</td>
                  <td>Action</td>
              </tr>
    {% for item in all_wishes %}
              <tr>
                    <td><a href="/wish_items/{{ item.id }}">{{ item.item_name }}</a></td>
                    <td>{{ item.created_by.name }}</td>
                    <td>{{ item.created_at }}</td>
                    <td>
                        <form action='/wish_items/add_wish' method='POST'>
                            {% csrf_token %}
                            <input type="hidden" name="iid" value="{{ item.id }}"></input>
                            <input type="submit" value="Add to my wishlist"></input>
                        </form>
                </tr>
    {% endfor %}
</table>
    <a href="/wish_items/create">Add Item</a>
</body>
</html>
