<html>
    {% load static %}
    <link rel="stylesheet" href="{% static 'users/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    
<div id="left">
<h2>Registration</h2>
<form action='/users/create' method='POST'>
  {% csrf_token %} 
  <p><label for="name">Name:<input type="text" name="name" id="name"></label></p>
  <p><label for="username">Username:<input type="text" name="username" id="alias"></label></p>
  <p><label for="password">Password:<input type="password" name="password" id="password"></label></p>
  <p><label for="password">Confirm Password:<input type="password" name="cpassword" id="cpassword"></label></p>
  <p><input type="submit" value="Create"></p>
</form>
</div>

<div id="right">
<h2>Login</h2>
<form action='/users/login' method='POST'>
  {% csrf_token %} 
  <p><label for="username">Username:<input type="text" name="username" id="Username"></label></p>
  <p><label for="password">Password:<input type="password" name="password" id="password"></label></p>
  <p><input type="submit" value="login"></p>
</form>
</div>
</html>
