<html>
    <head>
      <title>Hello {{ request.session.id }} You are login!!</title>
    </head>
    <body>
      <a href="/users/logout">Logout</a>
      <h2>Hello <a href="/users/{{request.session.id}}">{{request.session.first_name}} {{request.session.last_name}}</a></h2>
      {% if poked_list %}
      <h2>{{ poker_count }} People have poked you</h2>
      {% for person, v in poked_list.items %}
    <p><b>
        {{ person.first_name }} {{ person.last_name }} poked you {{ v }} times
        <a href="/users/{{ person.id }}">View Profile</a>
    </a></b></p>
    <hr>
    {% endfor %}
        {% else %}
        <h2>No one has poked you</h2>
        {% endif %}

{% if count == 1 %}
    <h2>No more users</h2>
{% else %}
    <h2>People you may want to poke:</h2>

    {% for user in all_users %}
        {% if user.id != request.session.id %}
        <p><b><a href="/users/{{ user.id }}">
            {{ user.first_name }} {{ user.last_name }}
        </a></b></p>
        <p>Alias: {{ user.alias }}</p>
        <p><font color=red>{{ user.email }}</font></p>
        <p>Has beem poked <font color=red>{{ user.poked_by_count }}</font>
        <form action='/pokes/add' method='POST'>
            {% csrf_token %}
            <input type="hidden" name="fid" value="{{ user.id }}"></input>
            <p><input type="submit" value="Poke this person"></p>
        </form>
        <hr>
        {% endif %}
    {% endfor %}
{% endif %}
</body>
</html>
